
canvas {
    margin: auto
}

body {
    background-image: url('GameDesign_LVL01_4k.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}