*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 350px;
}

.animate-jump{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{top: 350px;}
    30%{top: 300px;}
    70%{top: 300px;}
    100%{top: 350px;}
}

@keyframes move-right {
    0%{left: 0px}
    100%{left: 500px}
}
